.main-form__text{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #1C154E;
}