@import url('./main-form__submit_red/main-form__submit_red.css');
@import url('./main-form__submit_green/main-form__submit_green.css');
.main-form__submit {
 
    border-radius: 15px;
    min-height: 45px;
    width: 370px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    color: #FFFFFF;
}